{% extends "vehiculos.html" %}

{% block content %}
<form method="POST">
    <label>Marca:</label>
    <input type="text" name="marca" required>
    <label>Modelo:</label>
    <input type="text" name="modelo" required>
    <label>Anio:</label>
    <input type="text" name="anio" required>
    <label>Precio:</label>
    <input type="number" name="precio" required>
    <label for="disponibilidad">Disponibilidad:</label>
    <input type="radio" name="disponibilidad" value="1"> Disponible
    <input type="radio" name="disponibilidad" value="0"> Vendido
    <button type="submit">Guardar</button>
</form>
{% endblock %}