<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concesionario</title>
    <link rel="stylesheet" href="/app/static/index.css">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">Concesionario</p>
            <nav>
                <a href="vehiculos.html">Vehiculos</a>
                <a href="clientes.html">Clientes</a>
                <a href="ventas.html">Ventas</a>
            </nav>
        </div>
    </header>

    <section id="vehiculos">
        <h1>El auto de tus sueños</h1>
        <form action="http://127.0.0.1:5000/">
            <button>Ver vehiculos</button>
        </form>
        
    </section>

    <section id="clientes">
        <h1>Visualizar clientes</h1>
        <form action="http://127.0.0.1:5000/customer">
            <button>Ver clientes</button>
        </form>
    </section>

    <section id="ventas">
        <h1>Visualizar ventas</h1>
        <form action="http://127.0.0.1:5000/sale">
            <button>Ver ventas</button>
        </form>
    </section>

    <footer>
        <div id="container">
            <p>&copy; Concesionario 2025</p>
        </div>
    </footer>
</body>
</html>